

.search-container {
  display: flex;
  width: 388px;
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: 15px;
}
.search-input {
  flex: 1;
  width: 388px;
  height: 38px;
  border-radius: 20px;
  border: 0.6px solid #d5d5d5;
  background-color: #f5f6fa;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  color: #202224;
  padding-left: 45px;
}

.search-icon {
  position: absolute;
  left: 16.55px;
}
