.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #202020;
  padding: 18px 23px 0 23px;
}

.navSection {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 71px;
  margin-bottom: 10px;
}
.imageContainer {
  height: 71px;
  position: relative;
  left: -40px;
}

.HSectionOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #181818;
  flex: 1;
  border-radius: 30px;
}

.main {
  display: flex;
  flex: 1;

  background-color: #181818;
  margin-top: 10px;
  padding: 63px 49px 28px 83px;
  color: rgb(248, 248, 248);
}
.main h1 {
  font-size: 32px;
  line-height: 104px;
  letter-spacing: 0em;
  text-align: center;
}
.main .filtersSection {
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 745px;
  border-radius: 15px;
  background-color: #212121;
  margin-right: 45px;
  padding: 20px 16px 0 27px;
}
.filtersSection:last-child {
  margin-top: auto;
}
.main .mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1335px;
  height: 745px;
  border-radius: 15px;
  background-color: #212121;
  padding: 21.84px 17.4px 17.49px 13.31px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  margin-right: 30px;
}
.photo {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: blueviolet;
}
.info .name {
  color: #404040;
}
.info .role {
  color: #565656;
}

.info .notification {
  position: relative;
}

.info .notificationNumber {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #118f4b;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  text-align: center;
  font-size: 12px;
}
